.title {
    position: fixed; /* or absolute */
    left: 50% !important;
    margin-right: -80%;
    top: 10%;
    color: white;
    font-size: x-large;
}

.patientButton {
    text-align: left;
    position: fixed; /* or absolute */
    top: 40%;
    left: 42%;
}

.doctorButton {
    text-align: left;
    position: fixed; /* or absolute */
    top: 50%;
    left:37%;
}

.content {
    --ion-background-color: black;
}